:root {
	--main-font-color: #868075;
}
html {
	scroll-behavior: smooth;
	scroll-padding-top: 10vh;
	height: 100%;
  }
@media (max-width: 900px) {
	html {
		scroll-padding-top: 1vh;
	}
}
body {
	background-color: #181714;
	color: var(--main-font-color);
	font-family: Montserrat Alternates, Verdana, sans-serif;
	font-size: 20px;
	font-weight: 400;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
a {
	transition: 0.8s ease;
}
a:hover {
	transition: 0.8s ease;
}
h1 {
	font-size: 30px;
	font-weight: 400;
	color: var(--main-font-color);
}
@media (max-width: 900px) {
	h1 {
		font-size: 22px;
	}
}
h2 {
	font-size: 24px;
	font-weight: 600;
}
img {
	max-width: 100%;
}

.main-container {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container-top-nav {
	background-color: #0e1312;
	width: 100%;
	height: 7vh;
	line-height: 1.5em;
    display: flex;
	vertical-align: middle;
	border-bottom: #2b3f34 1px solid;
	position: sticky;
  	top: 0;
	z-index: 3;
}
@media (max-width: 900px) {
	.container-top-nav {
		text-align: center;
		height: auto;
		padding-top: 1vh;
		padding-bottom: 1vh;
	}
}
.top-nav {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 22px;
	padding-top: 2vh;
	font-weight: 600;
}
@media (max-width: 900px) {
	.top-nav {
		width: 100%;
		font-size: 20px;
	}
}
.top-nav a:link {
	color: #8f8983;
	text-decoration: none;

}
.top-nav a:visited {
	color: #8f8983;
	text-decoration: none;

}
.top-nav a:hover {
	color: #dadada;
	text-decoration: underline;
}

.container-main-block-full-width {
	width: 80vw;
	min-height: 93vh;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1vh;
	padding-bottom: 1vh;
	text-align: center;
}

.container-main-block {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	min-height: 93vh;
    display: flex;
    flex-wrap: wrap;
	justify-content: space-evenly;
}
@media (max-width: 900px) {
	.container-main-block {
		width: 90vw;
	}
}
.main-block {
	width: 48%;
	display: inline-block;
	padding-top: 10vh;
	padding-right: 1vh;
}
@media (max-width: 900px) {
	.main-block {
		width: 100%;
	}
}
.main-block a:link {
	color: var(--main-font-color);
	text-decoration: none;
	font-weight: 600;
}
.main-block a:visited {
	color: var(--main-font-color);
	text-decoration: none;
	font-weight: 600;
}
.main-block a:hover {
	color: #d1c7b6;
	text-decoration: none;
	font-weight: 600;
}

.galleries-menu-thumbs {
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
@media (max-width: 900px) {
	.galleries-menu-thumbs {
		margin-left: 25vw;
		margin-right: 25vw;
	}
}
.galleries-menu-thumbs img {
	margin-bottom: 15px;
	transition: 0.6s ease;
}
.galleries-menu-thumbs img:hover {
	transform: scale(1.05);
	transition: 0.6s ease;
}

.container-footer {
	background-color: #0e1312;
	border-top: #2b3f34 1px solid;
	width: 100%;
	height: 8vh;
    display: flex;
    flex-wrap: wrap;
	vertical-align: middle;
	padding-top: 2vh;
}@media (max-width: 900px) {
	.container-footer {
		height: auto;
		padding-top: 1vh;
		padding-bottom: 1vh;
	}
}
.footer {
	font-size: 16px;
	color: #677966;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.footer a:link {
	color: #677966;
	text-decoration: none;
}
.footer a:visited {
	color: #677966;
	text-decoration: none;
}
.footer a:hover {
	color: #7e917d;
	text-decoration: none;
}
.coding_copy {
	font-size: 12px;
}

.gallery_images {
	margin: 10px;
	border: 2px #666666 solid;
	transition: 0.6s ease;
}
.gallery_images:hover {
	transform: scale(1.05);
	transition: 0.6s ease;
}
.close-tab-button {
	font-family: inherit;
	font-weight: 600;
	background-color: #588585;
	color: #dfd9d9;
	border: 2px solid #6e694d;
	border-radius: 12px;
	font-size: 20px;
  	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.close-tab-button:hover{
  background-color: #7dacac;
}


/* TOPNAV */

.topnav_container {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	text-align: center;
	width: 100%;
	height: 7vh;
	padding-top: 3vh;
	background-color: #0e1312;
	border-bottom: #2b3f34 1px solid;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 3;
}
@media screen and (max-width: 650px) {
	.topnav_container {
		height: auto;
		padding-top: 0;
	}
}
  
.topnav {
	overflow: hidden;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}
@media screen and (max-width: 650px) {
	.topnav {
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
}
  
.topnav a {
	float: left;
	display: block;
	color: #8f8983;
	text-align: center;
	padding: 12px 10px;
	text-decoration: none;
	transition: 0.8s ease;
}
  
.topnav a:hover {
	color: #dadada;
}
  
.topnav a.active {
	color: #dadada;
}
  
.topnav .icon {
	display: none;
}
  
@media screen and (max-width: 650px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
	}
}
  
@media screen and (max-width: 650px) {
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
  }